@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #333;/*url("/img/bg/up.webp") no-repeat center center fixed;*/
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  gap: 1rem;
  padding: 1rem;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 33%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: rgba(30, 30, 30, 0.85);
  border-radius: 8px;
  min-height: 90vh;
}

.center-column {
  justify-content: center;
  align-items: center;
}

.right-column {
  align-items: flex-end;
}

form {
  width: 100%;
}

input {
  width: 100%;
  background-color: #222;
  border: none;
  color: #fff;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  text-transform: lowercase;
}

input::placeholder {
  color: #777;
}

.text_input {
  border-radius: 5px;
  background-color: #111;
}

.btn {
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #333;
}

.prompt {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 4px;
  resize: none;
  color: #fff;
}

.resolution_box {
  display: flex;
  gap: 25%;
}

.resolution {
  text-align: center;
}

.gallery {
  display:block;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  overflow-y: auto;
  justify-items: start;
  grid-template-columns: repeat(auto-fill, minmax(100vh, 1fr));
}

.gallery-list {
  display: flex;
  flex-direction:row-reverse;
}

.gallery-image-wrapper {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #222;
  box-shadow: 0 0 5px #0006;
  margin: 1 auto;
  padding: 2px;
}

.gallery-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
